.custom-image-slider {
  height: 700px;
}

.text-banner {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  color: #FFFFFF;
  margin-top: 9px;
  width: 80%;
  text-align: center;
}

.button_container_slide {
  margin-top: 50px;
}

.carousel-indicators {
  top: 50%;
  left: 100px;
  margin: 0;
  display: initial;
}

.carousel-indicators li {
  height: 8px;
}
