@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic,latin-ext,vietnamese");
@import 'https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i';
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

/*html{
  scroll-behavior: smooth;
}
*/
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-family: Poppins, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /* overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat*/
}

body,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  color: #8d8d8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333333;
  line-height: 1.5em;
}

div {
  display: block;
  position: relative;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a,
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid-custom {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.ma-l-5px {
  margin-left: 5px;
}

.ma-l-10px {
  margin-left: 10px;
}

.ma-l-15px {
  margin-left: 15px;
}

.ma-l-20px {
  margin-left: 20px;
}

.ma-r-5px {
  margin-right: 5px;
}

.ma-r-10px {
  margin-right: 10px;
}

.ma-bt-30px {
  margin-bottom: 30px;
}

.pd-5px {
  padding: 5px;
}

.pd-10px {
  padding: 10px;
}

.ma-t-123px {
  margin-top: 123px;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.site-main {
  height: 100%;
  position: relative;
}

.pt-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1;
  background-color: transparent;
}

.subpages {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background: #081123;
  z-index: 100;
}

.logo_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 100%;
  background: #5a2360;
  z-index: 1;
}

.logo a {
  display: block;
}

.logo_subtitle {
  font-size: 11px;
  font-weight: 500;
  color: #d6baa0;
  line-height: 0.75;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.logo_subtitle_2 {
  margin-top: 12px;
  font-size: 11px;
  font-weight: 500;
  color: #d6baa0;
  line-height: 0.75;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.logo_title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 0.75;
  margin-top: 8px;
}

.logo_stars {
  display: inline-block;
  margin-top: 11px;
}

.header_inner {
  width: 100%;
  height: 123px;
  padding-left: 187px;
  -webkit-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  /* flex-direction: row; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav {
  height: 100%;
}

.main_nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_nav ul li {
  list-style-type: none;
  height: 100%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main_nav ul li a {
  display: inline-block;
  height: 100%;
  padding-left: 34px;
  padding-right: 32px;
  color: #FFFFFF;
}

.main_nav ul li a div.nav_item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul li a div.nav_item span {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: uppercase;
}

.main_nav ul li a div.nav_item span::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 3px;
  background: #d6baa0;
  content: '';
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main_nav ul li.active,
.main_nav ul li:hover {
  background: #5a2360;
}

.main_nav ul li.active a div span::after,
.main_nav ul li:hover a div span::after {
  visibility: visible;
  opacity: 1;
}

.menu-mobile {
  display: none;
  cursor: pointer;
  margin-top: 5px;
}

.menu-mobile i {
  font-size: 18px;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.custom-image-slider {
  height: 700px;
}

.text-banner {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  color: #FFFFFF;
  margin-top: 9px;
  width: 80%;
  text-align: center;
}

.button_container_slide {
  margin-top: 50px;
}

.footer_section {
  margin-top: 60px;
  padding: 30px 0;
  background-color: #081123;
}

.footer_section h3,
.footer_section p,
.footer_section a {
  color: #ffffff;
}

/*-----------PRELOADING------------ */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: relative;
  top: 40%;
  left: 49%;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/*-----------END: PRELOADING------------ */
.button {
  width: 181px;
  height: 50px;
  background: #5a2360;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button span {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 50px;
}

.button span::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #d6baa0;
  content: '';
}

.over-flow-zoom-animate {
  overflow: hidden;
}

.hover-zoom-animate {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-zoom-animate:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-content:hover > .my-photo > img {
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-content > .my-photo > img {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*=====Hieu ung Focus intput: Awesome input focus effects https://codepen.io/Takumari85/pen/RaYwpJ ======*/
.effect-1 ~ .focus-border {
  width: 0;
  /* right: 0; */
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: block;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

/*=====Hieu ung Focus intput======*/
.effect-box-shadow:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.search_bar_container {
  width: calc(100% + 40px);
  left: -20px;
  background: #320d36;
  height: 162px;
  margin-top: -82px;
  padding: 53px 48px 50px 50px;
}

.search_bar_form > div {
  width: 35.163%;
}

.search_bar_form > div:not(:last-child) {
  padding-right: 17px;
}

.search_form_select {
  display: block;
  position: relative;
  width: 100%;
  height: 59px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: #FFFFFF;
  background: #5a2360;
  cursor: pointer;
  padding-left: 22px;
}

.search_form_select option {
  font-style: normal;
}

.search_bar_button:hover {
  background: #d6baa0;
  color: #320d36;
}

.search_bar_button {
  width: 236px;
  height: 59px;
  cursor: pointer;
  background: transparent;
  border: solid 2px #d6baa0;
  color: #d6baa0;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/*======START: Giới thiệu ngắn khách sạn=====*/
h2.text-heading {
  margin: 0;
  color: #232323;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.about_section {
  margin-top: 60px;
}

.img_full_width {
  width: 100%;
}

/*======END Giới thiệu ngắn khách sạn=====*/
/*======START: Dịch vụ tiện nghi=====*/
.service_section {
  margin-top: 60px;
}

.content_section ul {
  margin-top: 25px;
}

.content_section ul li {
  margin-top: 15px;
  color: #232323;
  width: 50%;
  display: inline-block;
  padding-right: 15px;
}

/*======END: Dịch vụ tiện nghi=====*/
/*======START: Rooms=====*/
.rooms_section {
  margin-top: 60px;
}

.room_row {
  margin-top: 80px;
}

.room {
  -webkit-box-shadow: 0 23px 35px rgba(4, 4, 4, 0.18);
          box-shadow: 0 23px 35px rgba(4, 4, 4, 0.18);
}

.room_image {
  width: 100%;
}

.room_image img {
  max-width: 100%;
}

.room_content {
  padding: 58px 30px 62px;
}

.room_price {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -27px;
  width: 185px;
  height: 47px;
  background: #FFFFFF;
  line-height: 47px;
  font-size: 14px;
  color: #5a2360;
  font-weight: 500;
}

.room_price span {
  color: #8d8d8d;
}

.room_type {
  font-size: 12px;
  font-weight: 600;
  color: #7e7e7e;
  text-transform: uppercase;
  line-height: 0.75;
}

.room_title {
  margin-top: 13px;
}

.room_title a {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  line-height: 1.25;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.room_title a:hover {
  color: #d6baa0;
}

.room_text {
  margin-top: 27px;
}

.room_button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -32px;
}

/*======END: Rooms=====*/
/*======START: map=====*/
.row_col_reset {
  margin: 0;
  padding: 0;
}

.map_section {
  margin-top: 120px;
}

/*======END: map=====*/
/* CSS Document */
/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/
/************
1. 1600px
************/
/************
2. 1440px
************/
/************
3. 1380px
************/
/************
3. 1280px
************/
@media only screen and (max-width: 1280px) {
  .nav_mobile_hide {
    display: none;
  }
  .header_button {
    display: none;
  }
  .header_inner {
    padding-left: 0;
  }
  .main_nav {
    width: 100%;
  }
  .main_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 123px;
  }
  .main_nav ul li {
    z-index: 1;
    width: 100%;
    height: 60px;
    background: #5a2360;
  }
  .main_nav ul li.active,
  .main_nav ul li:hover {
    background: #320d36;
  }
}

/************
4. 1199px
************/
@media only screen and (max-width: 1199px) {
  .menu-mobile {
    display: block;
  }
  .intro_2 {
    right: 58px;
  }
  .big_room_text p {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .big_room_slider_container {
    height: 750px;
  }
  .footer_menu ul li:not(:last-child) {
    margin-right: 25px;
  }
}

/************
4. 1100px
************/
/************
5. 1024px
************/
/************
6. 991px
************/
@media only screen and (max-width: 991px) {
  .logo_title {
    font-size: 20px;
  }
  .logo_subtitle, .logo_subtitle_2 {
    font-size: 8px;
  }
  .animate {
    -webkit-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  }
  .header_inner {
    padding-left: 0;
  }
  .home_slider_dots {
    left: 30px;
  }
  .search_bar_container {
    height: auto;
    width: 100%;
    left: auto;
  }
  .search_bar_form > div:not(:last-child) {
    padding-right: 0;
    padding-bottom: 17px;
  }
  .search_bar_form > div:first-child,
  .search_bar_form > div:nth-child(2),
  .search_bar_form > div:nth-child(3) {
    width: 100%;
  }
  .intro_col:not(:last-child) {
    margin-bottom: 80px;
  }
  .intro_2 {
    right: 98px;
  }
  .room_col:not(:last-child) {
    margin-bottom: 80px;
  }
  .newsletter_form_container {
    margin-top: 70px;
  }
  .footer_col:not(:last-child) {
    margin-bottom: 60px;
  }
}
