$font-body: Poppins,Helvetica,sans-serif;

$font-heading: Helvetica,sans-serif;

$font-heading-banner-style: 'Playfair Display', serif;

$font-p:'Montserrat', sans-serif;

$color-heading: #333;

$bg-color-body: #ffffff;

$color-style-hotel:#081123;

$color-style-hotel-hover: #5a2360;

$text-color-body: #8d8d8d;

$text-color-heading: #333333;

$bg-header: #fff;
