$font-body: Poppins,Helvetica,sans-serif;

$font-heading: Helvetica,sans-serif;

$font-heading-banner-style: 'Playfair Display', serif;

$color-heading: #333;

$bg-color-body: #ffffff;

$color-style-hotel:#081123;

$color-style-hotel-hover: #5a2360;

$text-color-body: #666;

$bg-header: #fff;
